header nav{
 display: flex;
 justify-content:space-between;   
 padding:0% 4%;
}
nav .rightSide{
    display: flex;
    justify-content:space-between;   
    align-items:center;
    width:250px;
    color:#fff;
    font-size:1.6rem;
    margin: 5px;
    padding: 5px;
}

nav .leftSide>*{
    color:#fff;
   display: flex;
   padding: 5px;
   margin: 5px;
   font-size:1.6rem;

}
